/lecture12-geometry_decomposition-2.pptx
/lecture13-bcs-for-non-sierra-users.pptx
/lecture14-GeometryCleanupForContiguousMeshing.pptx
/lecture15-customization_and_scripting.pptx
/lecture16-python.pptx
/lecture17-idless-journal-files.pptx
/lecture18-local_mesh_modification.pptx
/lecture19-vertex_types.pptx
/lecture20-improving_mesh_quality.pptx
/lecture21-sculpt.pptx
/lecture23-BoundaryLayers.pptx
/lecture24-mesh_scaling.pptx
/lecture25-AdvancedUsabilityTools.pptx
/lecture26-TetMeshingBestPractices.pptx
/lecture27-SDK.pptx
