.DS_Store
*.log
tmp/
public/
resources/
/zoom.png
.hugo_build.lock

# DVC files whose .gitignores were missed during the move to cf/cubit
account/src/main/webapp/fonts/Simple-Line-Icons.dev.svg
account/src/main/webapp/fonts/Simple-Line-Icons.svg
account/src/main/webapp/fonts/flexslider-icon.svg
account/src/main/webapp/fonts/fontawesome-webfont.svg
account/src/main/webapp/fonts/glyphicons-halflings-regular.svg
content/Cubit_logo.svg
content/IGA_logo.svg
content/company/partners/CCLthumb.svg
content/company/partners/CCthumb.svg
content/cubit_logo_TM.svg
content/cubitlogo.svg
content/products/coreform-cubit/3d-model.svg
content/products/coreform-cubit/autohex.svg
content/products/coreform-cubit/broom-cleaning.svg
content/products/coreform-cubit/case-studies/PDF_file_icon.svg
content/products/coreform-cubit/controlbk.svg
content/products/coreform-cubit/controls.svg
content/products/coreform-cubit/controlsidebk.svg
content/products/coreform-cubit/cubitTMadv.svg
content/products/coreform-cubit/cubit_logo.svg
content/products/coreform-cubit/cubitlogoTM.svg
content/products/coreform-cubit/custom.svg
content/products/coreform-cubit/digital.svg
content/products/coreform-cubit/example/
content/products/coreform-cubit/flexauto.svg
content/products/coreform-cubit/goal.svg
content/products/coreform-cubit/hex.svg
content/products/coreform-cubit/magic.svg
content/products/coreform-cubit/multi.svg
content/products/coreform-cubit/os_logos/apple_logo.svg
content/products/coreform-cubit/os_logos/centos_logo.svg
content/products/coreform-cubit/os_logos/ubuntu_logo.svg
content/products/coreform-cubit/os_logos/windows_logo.svg
content/products/coreform-cubit/puzzle.svg
content/products/coreform-cubit/py-file.svg
content/products/coreform-cubit/replay.svg
content/products/coreform-cubit/scripting.svg
content/products/coreform-cubit/toolbox.svg
content/products/coreform-cubit/tritet.svg
content/products/coreform-iga/IGA_logo_TM.svg
content/products/coreform-iga/white-IGA-logo.svg
content/products/coreform-lattice-gc/images/Lattice-GC-White-letters.svg
content/support/CCLthumb.svg
content/support/CCthumb.svg
static/images/PPT24.svg
static/images/PPT_24.svg
static/images/svg/IGA_TM.svg
static/images/svg/IGA_logo_TM.svg
static/images/svg/arrow.svg
static/images/svg/banner-logo-1.svg
static/images/svg/banner-logo-2.svg
static/images/svg/crunch-trelis.svg
static/images/svg/crunch.svg
static/images/svg/crunch_logo.svg
static/images/svg/cubit_TM.svg
static/images/svg/cubit_logo.svg
static/images/svg/cubit_logo_TM.svg
static/images/svg/cubitlogoTM.svg
static/images/svg/extlink.svg
static/images/svg/flex.svg
static/images/svg/flex_logo.svg
static/images/svg/logo-black.svg
static/images/svg/logo-white.svg
static/images/svg/news-default-thumb.svg
static/images/svg/trelis.svg
static/images/svg/trelis_logo.svg
static/slider_assets/cd-icon-menu.svg
static/slider_assets/cd-icon-navigation.svg
static/slider_assets/cd-icon-navigationX.svg
static/slider_assets/cd-logo.svg
static/slider_assets/crunch.svg
static/slider_assets/flex.svg
static/slider_assets/home-image-logo.svg
static/slider_assets/trelis.svg
