/next-horizontal.png
/ppnext.png
/prev-vertical.png
/prev.png
/next.png
/next-vertical.png
/ppprev.png
/prev-horizontal.png
/close.png
/loader.png
/simplenav.png
/simpleclose.png
/ppsprite.png
/lightprev.gif
/lightclose.gif
/lightnext.gif
