/mondaic-featured.png
/mondaic-mesh-final.png
/mondaic-mesh-initial.png
/mondaic-stringer-object.png
/mondaic-stringer-sim.png
/mondaic-logo.jpeg
/mondaic-stringer-photo.png
/mondaic-t-stringer-photo.png
