<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Csimsoft Accounts</display-name>
    <description>
	The csimsoft website account application.
    </description>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>csimsoft.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>csimsoft.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotServlet</servlet-name>
        <servlet-class>csimsoft.ForgotServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>csimsoft.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserTrialServlet</servlet-name>
        <servlet-class>csimsoft.AddUserTrialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserLearnServlet</servlet-name>
        <servlet-class>csimsoft.AddUserLearnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserServlet</servlet-name>
        <servlet-class>csimsoft.RemoveUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>csimsoft.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>csimsoft.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>csimsoft.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeInfoServlet</servlet-name>
        <servlet-class>csimsoft.ChangeInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeRolesServlet</servlet-name>
        <servlet-class>csimsoft.ChangeRolesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserGroupServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUserGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchServlet</servlet-name>
        <servlet-class>csimsoft.ProductSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LicenseSearchServlet</servlet-name>
        <servlet-class>csimsoft.LicenseSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSearchServlet</servlet-name>
        <servlet-class>csimsoft.OrderSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDistributorFolderServlet</servlet-name>
        <servlet-class>csimsoft.ChangeDistributorFolderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDownloadsPathServlet</servlet-name>
        <servlet-class>csimsoft.ChangeDownloadsPathServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>csimsoft.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProductServlet</servlet-name>
        <servlet-class>csimsoft.RemoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>csimsoft.ProductListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenameProductServlet</servlet-name>
        <servlet-class>csimsoft.RenameProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveProductServlet</servlet-name>
        <servlet-class>csimsoft.MoveProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>csimsoft.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>csimsoft.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadSearchServlet</servlet-name>
        <servlet-class>csimsoft.DownloadSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CleanupFilesServlet</servlet-name>
        <servlet-class>csimsoft.CleanupFilesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeatureServlet</servlet-name>
        <servlet-class>csimsoft.AddFeatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyFeatureServlet</servlet-name>
        <servlet-class>csimsoft.ModifyFeatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFeatureServlet</servlet-name>
        <servlet-class>csimsoft.RemoveFeatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLicenseFeatureServlet</servlet-name>
        <servlet-class>csimsoft.AddLicenseFeatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveLicenseFeatureServlet</servlet-name>
        <servlet-class>csimsoft.RemoveLicenseFeatureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDefaultFeaturesServlet</servlet-name>
        <servlet-class>csimsoft.ChangeDefaultFeaturesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserFeaturesServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUserFeaturesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOptionServlet</servlet-name>
        <servlet-class>csimsoft.AddOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyOptionServlet</servlet-name>
        <servlet-class>csimsoft.ModifyOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOptionServlet</servlet-name>
        <servlet-class>csimsoft.RemoveOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLicenseOptionServlet</servlet-name>
        <servlet-class>csimsoft.AddLicenseOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveLicenseOptionServlet</servlet-name>
        <servlet-class>csimsoft.RemoveLicenseOptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserOptionsServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUserOptionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlatformServlet</servlet-name>
        <servlet-class>csimsoft.AddPlatformServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyPlatformServlet</servlet-name>
        <servlet-class>csimsoft.ModifyPlatformServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePlatformServlet</servlet-name>
        <servlet-class>csimsoft.RemovePlatformServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardLicensePlatformServlet</servlet-name>
        <servlet-class>csimsoft.ForwardLicensePlatformServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPlatformProductServlet</servlet-name>
        <servlet-class>csimsoft.AddPlatformProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePlatformProductServlet</servlet-name>
        <servlet-class>csimsoft.RemovePlatformProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDefaultPlatformsServlet</servlet-name>
        <servlet-class>csimsoft.ChangeDefaultPlatformsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserPlatformsServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUserPlatformsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUpgradeServlet</servlet-name>
        <servlet-class>csimsoft.AddUpgradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyUpgradeServlet</servlet-name>
        <servlet-class>csimsoft.ModifyUpgradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUpgradeServlet</servlet-name>
        <servlet-class>csimsoft.RemoveUpgradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUpgradeItemServlet</servlet-name>
        <servlet-class>csimsoft.AddUpgradeItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUpgradeItemServlet</servlet-name>
        <servlet-class>csimsoft.RemoveUpgradeItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserUpgradeServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUserUpgradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenewCubitLearnServlet</servlet-name>
        <servlet-class>csimsoft.RenewCubitLearnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivateLicenseServlet</servlet-name>
        <servlet-class>csimsoft.ActivateLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactivateLicenseServlet</servlet-name>
        <servlet-class>csimsoft.DeactivateLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDeactivationServlet</servlet-name>
        <servlet-class>csimsoft.AddDeactivationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserLicenseServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUserLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserLicenseKeyServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUserLicenseKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpgradeLicenseServlet</servlet-name>
        <servlet-class>csimsoft.UpgradeLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpgradeLicensesServlet</servlet-name>
        <servlet-class>csimsoft.UpgradeLicensesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLicenseGroupServlet</servlet-name>
        <servlet-class>csimsoft.AddLicenseGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveLicenseGroupServlet</servlet-name>
        <servlet-class>csimsoft.RemoveLicenseGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyLicenseGroupServlet</servlet-name>
        <servlet-class>csimsoft.ModifyLicenseGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLicenseServlet</servlet-name>
        <servlet-class>csimsoft.AddLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveLicenseServlet</servlet-name>
        <servlet-class>csimsoft.RemoveLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyLicenseServlet</servlet-name>
        <servlet-class>csimsoft.ModifyLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDistLicenseServlet</servlet-name>
        <servlet-class>csimsoft.AddDistLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDistLicenseServlet</servlet-name>
        <servlet-class>csimsoft.RemoveDistLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDistUpgradeServlet</servlet-name>
        <servlet-class>csimsoft.AddDistUpgradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveDistUpgradeServlet</servlet-name>
        <servlet-class>csimsoft.RemoveDistUpgradeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderInfoServlet</servlet-name>
        <servlet-class>csimsoft.OrderInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProcessServlet</servlet-name>
        <servlet-class>csimsoft.AddProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProcessServlet</servlet-name>
        <servlet-class>csimsoft.RemoveProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyProcessServlet</servlet-name>
        <servlet-class>csimsoft.ModifyProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUniversityServlet</servlet-name>
        <servlet-class>csimsoft.RemoveUniversityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUniversityServlet</servlet-name>
        <servlet-class>csimsoft.ChangeUniversityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniversityAccountServlet</servlet-name>
        <servlet-class>csimsoft.UniversityAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUniversityContactServlet</servlet-name>
        <servlet-class>csimsoft.RemoveUniversityContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveContactServlet</servlet-name>
        <servlet-class>csimsoft.RemoveContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeContactServlet</servlet-name>
        <servlet-class>csimsoft.ChangeContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfigServlet</servlet-name>
        <servlet-class>csimsoft.OrderConfigServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLicenseServlet</servlet-name>
        <servlet-class>csimsoft.ChangeLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProcessServlet</servlet-name>
        <servlet-class>csimsoft.ChangeProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>csimsoft.AddOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <servlet-class>csimsoft.RemoveOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveLicenseServlet</servlet-name>
        <servlet-class>csimsoft.ApproveLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApprovePaymentServlet</servlet-name>
        <servlet-class>csimsoft.ApprovePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetPurchaseOrderServlet</servlet-name>
        <servlet-class>csimsoft.SetPurchaseOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderStepServlet</servlet-name>
        <servlet-class>csimsoft.AddOrderStepServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOrderLicenseServlet</servlet-name>
        <servlet-class>csimsoft.AddOrderLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrderLicenseServlet</servlet-name>
        <servlet-class>csimsoft.RemoveOrderLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TranslateOrderServlet</servlet-name>
        <servlet-class>csimsoft.TranslateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnableProductServlet</servlet-name>
        <servlet-class>csimsoft.EnableProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisableProductServlet</servlet-name>
        <servlet-class>csimsoft.DisableProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClientLicenseServlet</servlet-name>
        <servlet-class>csimsoft.AddClientLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateLicenseKeyServlet</servlet-name>
        <servlet-class>csimsoft.GenerateLicenseKeyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveClientLicenseServlet</servlet-name>
        <servlet-class>csimsoft.RemoveClientLicenseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveTrialServlet</servlet-name>
        <servlet-class>csimsoft.ApproveTrialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserByKey</servlet-name>
        <servlet-class>csimsoft.UserByKey</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDatabaseServlet</servlet-name>
        <servlet-class>csimsoft.UpdateDatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestEmailServlet</servlet-name>
        <servlet-class>csimsoft.TestEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BoltServlet</servlet-name>
        <servlet-class>csimsoft.BoltServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestTrialServlet</servlet-name>
        <servlet-class>csimsoft.RequestTrialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestLearnServlet</servlet-name>
        <servlet-class>csimsoft.RequestLearnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCrunchBetaUserServlet</servlet-name>
        <servlet-class>csimsoft.AddCrunchBetaUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>accountdownloads</servlet-name>
        <jsp-file>/downloads.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>licensedetail</servlet-name>
        <jsp-file>/licensedetail.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>licenses</servlet-name>
        <jsp-file>/licenses.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>orders</servlet-name>
        <jsp-file>/orders.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotServlet</servlet-name>
        <url-pattern>/sendpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/adduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserTrialServlet</servlet-name>
        <url-pattern>/addusertrial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserLearnServlet</servlet-name>
        <url-pattern>/adduserlearn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserServlet</servlet-name>
        <url-pattern>/removeuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/newprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/newpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeInfoServlet</servlet-name>
        <url-pattern>/newinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeRolesServlet</servlet-name>
        <url-pattern>/changeroles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserGroupServlet</servlet-name>
        <url-pattern>/changeusergroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchServlet</servlet-name>
        <url-pattern>/productsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LicenseSearchServlet</servlet-name>
        <url-pattern>/licensesearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSearchServlet</servlet-name>
        <url-pattern>/ordersearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDistributorFolderServlet</servlet-name>
        <url-pattern>/newdistfolder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDownloadsPathServlet</servlet-name>
        <url-pattern>/changedownloadspath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/newproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProductServlet</servlet-name>
        <url-pattern>/removeproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenameProductServlet</servlet-name>
        <url-pattern>/renameproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveProductServlet</servlet-name>
        <url-pattern>/moveproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/updateproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadSearchServlet</servlet-name>
        <url-pattern>/downloadsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CleanupFilesServlet</servlet-name>
        <url-pattern>/cleanupfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeatureServlet</servlet-name>
        <url-pattern>/newfeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyFeatureServlet</servlet-name>
        <url-pattern>/modifyfeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFeatureServlet</servlet-name>
        <url-pattern>/removefeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLicenseFeatureServlet</servlet-name>
        <url-pattern>/newlicensefeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveLicenseFeatureServlet</servlet-name>
        <url-pattern>/removelicensefeature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDefaultFeaturesServlet</servlet-name>
        <url-pattern>/changedefaultfeatures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserFeaturesServlet</servlet-name>
        <url-pattern>/changeuserfeatures</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOptionServlet</servlet-name>
        <url-pattern>/newoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyOptionServlet</servlet-name>
        <url-pattern>/modifyoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOptionServlet</servlet-name>
        <url-pattern>/removeoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLicenseOptionServlet</servlet-name>
        <url-pattern>/newlicenseoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveLicenseOptionServlet</servlet-name>
        <url-pattern>/removelicenseoption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserOptionsServlet</servlet-name>
        <url-pattern>/changeuseroptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlatformServlet</servlet-name>
        <url-pattern>/newplatform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyPlatformServlet</servlet-name>
        <url-pattern>/modifyplatform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePlatformServlet</servlet-name>
        <url-pattern>/removeplatform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardLicensePlatformServlet</servlet-name>
        <url-pattern>/newlicenseplatform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPlatformProductServlet</servlet-name>
        <url-pattern>/newplatformproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePlatformProductServlet</servlet-name>
        <url-pattern>/removeplatformproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDefaultPlatformsServlet</servlet-name>
        <url-pattern>/changedefaultplatforms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserPlatformsServlet</servlet-name>
        <url-pattern>/changeuserplatforms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUpgradeServlet</servlet-name>
        <url-pattern>/newupgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyUpgradeServlet</servlet-name>
        <url-pattern>/modifyupgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUpgradeServlet</servlet-name>
        <url-pattern>/removeupgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUpgradeItemServlet</servlet-name>
        <url-pattern>/newupgradeitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUpgradeItemServlet</servlet-name>
        <url-pattern>/removeupgradeitem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserUpgradeServlet</servlet-name>
        <url-pattern>/newuserupgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenewCubitLearnServlet</servlet-name>
        <url-pattern>/renewcubitlearn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDeactivationServlet</servlet-name>
        <url-pattern>/newdeactivation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserLicenseServlet</servlet-name>
        <url-pattern>/newuserlicenseinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserLicenseKeyServlet</servlet-name>
        <url-pattern>/newuserlicensekey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivateLicenseServlet</servlet-name>
        <url-pattern>/activatelicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactivateLicenseServlet</servlet-name>
        <url-pattern>/deactivatelicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpgradeLicenseServlet</servlet-name>
        <url-pattern>/upgradelicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpgradeLicensesServlet</servlet-name>
        <url-pattern>/upgradeall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLicenseGroupServlet</servlet-name>
        <url-pattern>/newgroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveLicenseGroupServlet</servlet-name>
        <url-pattern>/removegroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyLicenseGroupServlet</servlet-name>
        <url-pattern>/modifygroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLicenseServlet</servlet-name>
        <url-pattern>/newlicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveLicenseServlet</servlet-name>
        <url-pattern>/removelicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyLicenseServlet</servlet-name>
        <url-pattern>/modifylicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDistLicenseServlet</servlet-name>
        <url-pattern>/newdistlicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDistLicenseServlet</servlet-name>
        <url-pattern>/removedistlicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDistUpgradeServlet</servlet-name>
        <url-pattern>/newdistupgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveDistUpgradeServlet</servlet-name>
        <url-pattern>/removedistupgrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderInfoServlet</servlet-name>
        <url-pattern>/orderinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProcessServlet</servlet-name>
        <url-pattern>/newprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProcessServlet</servlet-name>
        <url-pattern>/removeprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyProcessServlet</servlet-name>
        <url-pattern>/modifyprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUniversityServlet</servlet-name>
        <url-pattern>/removeuniversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUniversityServlet</servlet-name>
        <url-pattern>/newuniversity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniversityAccountServlet</servlet-name>
        <url-pattern>/addaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUniversityContactServlet</servlet-name>
        <url-pattern>/removeuniversitycontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveContactServlet</servlet-name>
        <url-pattern>/removecontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeContactServlet</servlet-name>
        <url-pattern>/newcontact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfigServlet</servlet-name>
        <url-pattern>/orderconfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLicenseServlet</servlet-name>
        <url-pattern>/changelicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProcessServlet</servlet-name>
        <url-pattern>/changeprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/neworder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderServlet</servlet-name>
        <url-pattern>/removeorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveLicenseServlet</servlet-name>
        <url-pattern>/approvelicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApprovePaymentServlet</servlet-name>
        <url-pattern>/approvepayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetPurchaseOrderServlet</servlet-name>
        <url-pattern>/newpurchaseorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderStepServlet</servlet-name>
        <url-pattern>/addorderstep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOrderLicenseServlet</servlet-name>
        <url-pattern>/addorderlicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrderLicenseServlet</servlet-name>
        <url-pattern>/removeorderlicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TranslateOrderServlet</servlet-name>
        <url-pattern>/transorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnableProductServlet</servlet-name>
        <url-pattern>/enableproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisableProductServlet</servlet-name>
        <url-pattern>/disableproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClientLicenseServlet</servlet-name>
        <url-pattern>/newclientlicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateLicenseKeyServlet</servlet-name>
        <url-pattern>/generatekey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveClientLicenseServlet</servlet-name>
        <url-pattern>/removeclientlicense</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveTrialServlet</servlet-name>
        <url-pattern>/approvetrial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDatabaseServlet</servlet-name>
        <url-pattern>/updatedb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestEmailServlet</servlet-name>
        <url-pattern>/testemail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accountdownloads</servlet-name>
        <url-pattern>/downloads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licensedetail</servlet-name>
        <url-pattern>/licensedetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>licenses</servlet-name>
        <url-pattern>/licenses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestTrialServlet</servlet-name>
        <url-pattern>/requesttrial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestLearnServlet</servlet-name>
        <url-pattern>/requestlearn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserByKey</servlet-name>
        <url-pattern>/userbykey</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCrunchBetaUserServlet</servlet-name>
        <url-pattern>/addbetauser</url-pattern>
    </servlet-mapping>
</web-app>
