<!-- mobile menu -->
    <nav class="pushy pushy-left" style="margin-left:-20px;">
        <div class="pushy-content">
            <ul style="margin-top: 58px;">
                <li class="pushy-submenu">
                    <button><a href="/products/trial" class="pushy-zero" style="font-size:1em;">Request a trial</a></button>
                </li>
            </ul>
        </div>
    </nav>

<!-- Site Overlay -->
    <div class="site-overlay"></div>

<!-- Site Content -->
    <div id="container">
    
<!-- Menu Button -->
    <!--<button>--><span class="menu-btn hide-lg" style="position:fixed; margin-top:8px;">&#9776;</span><!--</button>-->




<!-- bannermenu -->
<div class="main_menu" style="border-top:0px;">
    <div class="main_menu_logo hide-sm" style="margin-top:4px;"> <!-- CORY added hide-sm -->
        <a href="{{ .Site.BaseURL }}"><img src="/images/svg/banner-logo-2.svg" height="42" alt="Coreform" title="Coreform" /></a>
    </div>
	<div class="main_menu_logo hide-lg" style="width:100%; text-align:center;"> <!-- CORY added hide-lg -->
		<a href="{{ .Site.BaseURL }}"><img src="/images/svg/banner-logo-2.svg" height="42" alt="Coreform" title="Coreform" style="margin-top:-5px;" /></a>
	</div>
                <li class="trial-back"><a href="/products/trial"><span>TRIAL</span></a></li>
            </ul>
        </div>
    </div>
</div>
<!--style="background-color:#c13f4e"-->

