	<div class="main">

	<footer id="footer">
		<div id="footer-content">
			<div id="footer-left">
				<h4 class="footer-headings">Products</h4>
				<ul>
					<!--<li><a href="/products/coreform-process">Coreform Processs</a></li>-->
					<li><a href="/products/coreform-iga"><span class="hide-sm">Coreform </span>IGA</a></li>
					<li><a href="/products/coreform-cubit"><span class="hide-sm">Coreform </span>Cubit</a></li>
					<!--<li><a href="/products/translators">Data Translators</a></li>
					<li><a href="/products/boltoverview">Bolt</a></li>-->
				</ul>
			</div>
			<div id="footer-col2" style="color:#fff;">
				<h4 class="footer-headings"><span class="hide-sm">Popular links</span><span class="hide-lg">Links</span></h4>
				<ul>
					<li><a href="/support/activation/cubit/activate/">Activation</a></li>
					<li><a href="/support/tutorials/">Tutorials</a></li>
					<li><a href="/products/coreform-cubit/cubit-faqs/">Coreform Cubit FAQs</a></li>
					<li><a href="http://www.trelis.jp">Japanese website</a></li>
				</ul>
			</div>
			<div id="footer-col3">
				<h4 class="footer-headings">Company<span class="hide-sm"> information</span></h4>
				<ul>
					<li><a href="/company/about">About<span class="hide-sm"> Coreform</span></a></li>
					<li><a href="/company/news/">News</a></li>
					<li><a href="/company/careers">Careers</a></li>
					<li><a href="/company/contact">Contact us</a></li>
				</ul>
			</div>
			<div id="footer-right">
				<h4 class="footer-headings">Follow <span class="hide-lg">Us</span><span class="hide-sm">Coreform</span></h4>

				<div class="rounded-social-buttons" style="float: left;">
					<a class="social-button facebook" title="Follow Coreform on Facebook" href="https://www.facebook.com/coreform"></a>
					<a class="social-button twitter" title="Follow Coreform on Twitter" href="https://twitter.com/TheCoreform"></a>
					<a class="social-button linkedin" title="Follow Coreform on LinkedIn" href="https://www.linkedin.com/company/coreform"></a>
					<a class="social-button youtube-play" title="Follow Coreform on YouTube" href="https://www.youtube.com/channel/UCsxDLIP5PKfSwW0fmSoTpnA"></a>
					<!--<a class="social-button instagram" title="Follow Coreform on Instagram" href=""></a>-->
				  </div>

				<!--<ul>
					<li class="footer-social">
						<a href="https://www.youtube.com/channel/UCsxDLIP5PKfSwW0fmSoTpnA" > 
						<img src="/images/social/youtube-icon.png" title= "Follow Coreform on YouTube" alt="Youtube" width="35" height="35" />
						</a>
					</li>
					<li class="footer-social">
						<a href="http://facebook.com/coreform"> 
						<img src="/images/social/facebook-icon.png" title= "Follow Coreform on Facebook" alt="Facebook" width="35" height="35" />
						</a>
					</li>
					<li class="footer-social">
						<a href="http://twitter.com/TheCoreform"> 
						<img src="/images/social/twitter-icon.png" title= "Follow Coreform on Twitter" alt="Twitter" width="35" height="35" />
						</a>
					</li>
					<li class="footer-social">
						<a href="http://linkedin.com/company/coreform"> 
						<img src="/images/social/linkedin-icon.png" title= "Follow Coreform on LinkedIn" alt="Linkedin" width="35" height="35" />
						</a>
					</li>
					<li>
						<a href="https://www.instagram.com/coreform/"> 
						<img src="" alt="Instagram" width="35" height="35" />
						</a>
					</li>
				</ul>-->				
			</div>
			
			<div id="disclaimer">
				<div style="float: left; padding-top: 10px; color:#fff !important;">&COPY; 2020 Coreform LLC. All rights reserved.</div>
				<div style="float: right; padding-top: 10px">
					<!--<a href="/">Home</a>-->
					<a href="/terms">Terms of Use</a>
					<a href="/privacy">Privacy Policy</a>
					<a href="/export">Export Policy</a>
				</div>
			</div>
		</div>
	</footer>
	</div>
