<section class="section-shade">
    <div class="section wow fadeIn" data-wow-duration="0.4s">
        <div style="max-width:1000px; margin: 0 auto;">
            <h3 class="section-subhead">Try Coreform Cubit for yourself.</h3>
                <p>See for yourself why Coreform Cubit is the pre-processor of choice of engineers worldwide. Try Coreform Cubit on your own models free for 30 days.</p>
                <div class="center"><a href="/products/trial" }} class="ghost-button-color" title="Try Coreform Cubit Pro free for 30 days">Request a Trial</a></div>
        </div>
    </div>
<p class="center" style="font-size: 10px">Coreform Cubit is a trademark of Coreform LLC. 
        All other trademarks cited here are the property of their respective owners.</p>
</section>