<section>
    <div class="rounded-social-buttons">
        <a class="social-button facebook" title="Follow Coreform on Facebook" href="https://www.facebook.com/coreform"></a>
        <a class="social-button twitter" title="Follow Coreform on Twitter" href="https://twitter.com/TheCoreform"></a>
        <a class="social-button linkedin" title="Follow Coreform on LinkedIn" href="https://www.linkedin.com/company/coreform"></a>
        <a class="social-button youtube-play" title="Follow Coreform on YouTube" href="https://www.youtube.com/channel/UCsxDLIP5PKfSwW0fmSoTpnA"></a>
        <!--<a class="social-button instagram" title="Follow Coreform on Instagram" href=""></a>-->
      </div>
</section>
