<!-- Trial request -->
<!--<section>
    <div class="section wow fadeIn TrialBox" data-wow-duration="0.4s" style="margin:20px auto 50px auto;">
        <div style="max-width:960px; margin: 0 auto;">
            <h3 class="section-subhead TrialBox-sub-head" style="padding: 20px 10px 0px 10px;">Try Coreform Trelis for yourself.</h3>
                <p class="TrialBox-text">See for yourself why Coreform Trelis is the pre-processor of choice of engineers worldwide. Try Coreform Trelis Pro on your own models free for 30 days.</p>
                <div class="center" style="margin-bottom:20px;"><a href="/products/trial" class="ghost-button-color-red" title="Try Trelis Pro free for 30 days">Request a Trial</a></div>
        </div>
    </div>
</section>-->


<section>
    <div class="section TrialBox TrialBox-background" data-wow-duration="0.4s" style="margin:20px auto 50px auto; background-image: url(/images/trellis-promo.jpg);">
        <div style="max-width:960px; margin: 0 auto;">
            <h3 class="section-subhead TrialBox-sub-head center" style="padding: 34px 10px 30px 10px;">Try Coreform Cubit<span class="hide-sm"> for yourself</span></h3>
                <p class="TrialBox-text"><span class="hide-sm">See for yourself why Coreform Cubit is </span><span class="show-sm hide-lg">T</span><span class="hide-sm">t</span>he pre-processor of choice of engineers worldwide. Try Coreform Cubit <span class="hide-sm">on your own models </span>free for 30 days.</p>
                <div class="center" style="margin-bottom:20px;"><a href="/products/trial" class="ghost-button-color-red" title="Try Coreform Cubit free for 30 days">Request a Trial</a></div>
        </div>
    </div>
</section>


