<!-- Visit forum -->
<section>
    <div class="section wow fadeIn TrialBox TrialBox-background" data-wow-duration="0.4s" style="margin:20px auto 50px auto; background-image: url(/images/forum-promo.jpg);">
        <div style="max-width:960px; margin: 0 auto;">
            <h3 class="section-subhead TrialBox-sub-head center" style="padding: 20px 10px 20px 10px;">Coreform Forum</h3>
                <p class="TrialBox-text"><span class="show-sm">Take advantage of this great resource to find answers and post questions</span><span class="show-sm hide-lg">.</span><span class="hide-sm"> about geometry, meshing, importing/exporting, and more. </span></p>
                <div class="center" style="margin-bottom:20px;"><a href="https://forum.coreform.com/categories" class="ghost-button-color-red">Visit the forum</a></div>
        </div>
    </div>
</section>
