.menu-btn {
	font-size: 2em;
	padding: 0px;
	margin-bottom: 30px;
	background: transparent !important;
	color: #fff;
	text-align: center;
	cursor: pointer;
	border: 0px;
	z-index: 9999;
	position: absolute;
	left: 15px;
	top: 5px;
}
.menu-btn:hover {
  opacity: 0.6;
}
ul {
  margin: 0;
  padding: 0;
}
/* button:hover { 
	background: linear-gradient(90deg, rgba(03,00,20,1) 0%, rgba(102,102,119,1) 100%) !important;
} */

.pushy-link:hover { 
	background: linear-gradient(90deg, rgba(03,03,20,1) 0%, rgba(102,102,119,1) 100%) !important;
}

.pushy-submenu .pushy-link:hover { 
	background: linear-gradient(90deg, rgba(03,03,20,1) 0%, rgba(102,102,119,1) 100%) !important;
}
		
.pushy {
	padding-left:15px;
	position: fixed;
	width: 275px;
	height: 100%;
	top: 0;
	z-index: 9999;
	background: #000017;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	/* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
	display: block;
	color: #b3b3b1;
	padding: 5px 30px;
	text-decoration: none;
	border: 0;
	font-size: 0.85em;
}
.pushy a:hover {
	color: #fff;
}
.pushy ul:first-child {
	margin-top: 2em;
}
.pushy.pushy-left {
	left: 0;
}
.pushy.pushy-right {
	right: 0;
}

.pushy-content {
	visibility: hidden;
}

/* Menu Movement */
.pushy-left {
	-webkit-transform: translate3d(-275px, 0, 0);
	-ms-transform: translate3d(-275px, 0, 0);
	transform: translate3d(-275px, 0, 0);
}

.pushy-open- left #container,
.pushy-open- left .push {
	-webkit-transform: translate3d(275px, 0, 0);
	-ms-transform: translate3d(275px, 0, 0);
	transform: translate3d(275px, 0, 0);
}

.pushy-right {
	-webkit-transform: translate3d(275px, 0, 0);
	-ms-transform: translate3d(275px, 0, 0);
	transform: translate3d(275px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
	-webkit-transform: translate3d(-275px, 0, 0);
	-ms-transform: translate3d(-275px, 0, 0);
	transform: translate3d(-275px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
	visibility: visible;
}








/* Menu Transitions */
#container,
.pushy,
.push {
	transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.1);
}

.pushy-content {
	transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.1);
}

/* Site Overlay */
.site-overlay {
	display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9998;
	    background-color: rgba(0, 0, 0, 0.1);
	-webkit-animation: fade 500ms;
	animation: fade 500ms;
}

@keyframes fade {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
@-webkit-keyframes fade {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}
/* Submenu Appearance */
.pushy-submenu {
	margin:0 0 10px 0;
	font-size: 16px;
	/* Submenu Buttons */
	/* Submenu Icon */
}

.pushy-submenu > ul {
	padding-left: 12px;
	transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
	font-size: 16px;
	line-height: 1.3em;
	list-style-type: none;
}
.pushy-zero { 
	margin: 0px !important;
	padding: 0px !important;
}

.pushy-submenu > ul .pushy-link {
	transition: opacity 0.2s ease-in-out;
	margin:-4px 0 6px 0;
	font-size: 16px;
}
.pushy-submenu button {
	width: 100%;
	color: #b3b3b1;
	padding: 10px 30px 10px 20px;
	text-align: left;
	background: transparent;
	border: 0;
	font-size: 16px;
	list-style-type: none;
}
.pushy-submenu button:hover {
	color: #fff;
}
.pushy-submenu > a,
.pushy-submenu > button {
	position: relative;
}
.pushy-submenu > a::after,
.pushy-submenu > button::after {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	right: 15px;
	background: url("/images/svg/arrow.svg") no-repeat;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed > ul {
	max-height: 0;
	overflow: hidden;
	visibility: hidden;
}
.pushy-submenu-closed .pushy-link {
	opacity: 0;
}

.pushy-submenu-open {
	visibility: visible;
	/* Submenu Icon */
}
.pushy-submenu-open > ul {
	max-height: 1000px;
	visibility: visible;
}
.pushy-submenu-open .pushy-link {
	opacity: 1;
}
.pushy-submenu-open > a::after,
.pushy-submenu-open > button::after {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}

/*# sourceMappingURL=pushy.css.map */
