<div class="trialbox pt-2">
    <p class="is-size-1 has-text-centered has-text-weight-semibold has-text-light"> Try Coreform Cubit for 30 days, free.</p>
    <ul class="checkmarks__ul--green level">
        <li class="level-item">Full functionality</li>
        <li class="level-item">Two free engineering support sessions</li>
    </ul>
    <div class="embedded-hubspot p-5">
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
            hbspt.forms.create({
                            region: "na1",
                            portalId: "22187218",
                            formId: "7009afee-1df7-4ac1-a982-8f82656d0b1d"
                        });
        </script>
    </div>
</div>
