<div class="partner-block">
    <p><a href="{{ .Get "site" }}"><img src="{{ .Get "logo" }}" alt="{{ .Get "name" }}" title="{{ .Get "name" }}" /></a> </p>
    <p>{{- .Inner | markdownify -}}</p>
    <p>
    </p>
    <div class="partner-contact">
	    <div>
		    <p class="address"><strong class="gray">{{ .Get "name" | markdownify }}</strong><br/>
		    {{- .Get "address" | markdownify -}}</p>
	    </div>
	    <div class="ml-6">
	        <dl class="dl--contact-info">
	            <dt><span class="mr-3 fa fa-globe"></span>Website</dt>
	            <dd><a href="{{ .Get "site" }}">{{.Get "site" }}</a></dd>
	            {{- with .Get "email" -}}
	            <dt><span class="mr-3 fa fa-envelope"></span>Sales</dt>
	            <dd><a href="mailto:{{ . }}?subject=Sales Inquiry">{{ . }}</a></dd>
	            {{- end -}}
	            {{- with .Get "phone" -}}
	            <dt><span class="mr-3 fa fa-phone"></span>Phone</dt>
	            <dd><a href="tel:{{ . }}">{{ . }}</a></dd>
	            {{- end -}}
	            {{- with .Get "fax" -}}
	            <dt><span class="mr-3 fa fa-fax"></span>Fax</dt>
	            <dd>{{ . }}</dd>
	            {{- end -}}
	            {{- with .Get "linkedin" -}}
                <dt><span class="mr-3 fa fa-linkedin-square"></span>Linked-in</dt>
                <dd><a href="{{ . }}">{{ . }}</a></dd>
	            {{- end -}}
	        </dl>
	    </div>
    </div>
</div>
