<!-- Slider / Carousel -->
<div class="cd-hero js-cd-hero " style="margin-top:0px;">
<ul class="cd-hero__slider">

<!-- WELCOME SLIDER -->
<li class="cd-hero__slide cd-hero__slide--selected js-cd-slide">
<div class="cd-hero__content cd-hero__content--full-width hide-sm">
    <div class="animate fadeIn">
        <a href="/technology/spline-based-simulation/"><img src="/slider_assets/home-image-logo.svg"
                alt="Coreform IGA" width="80%"
                style="margin-top:-6em; max-width:900px; min-width:100px;"></a>
        <div style="color:#ddd; font-size:34px; line-height:33px; font-family:serif; margin-top:0.3em;">
            <i>Better simulation through better geometry</i></div>
    </div>
</div>

<div class="cd-hero__content cd-hero__content--full-width hide-lg">
    <div class="animate fadeIn">
        <a href="/technology/spline-based-simulation"><img src="/slider_assets/home-image-logo.svg"
                alt="Coreform IGA" width="80%"
                style="margin-top:-1em; max-width:500px; min-width:100px;"></a>
        <div style="color:#fff; font-size:25px; line-height:25px; font-family:serif; margin-top:0.1sem;">
            <i>Better simulation through better geometry</i></div>
    </div>
</div> <!-- .cd-hero__content -->
</li>


<!-- CRUNCH SLIDER -->
<li class="cd-hero__slide js-cd-slide">
<div class="cd-hero__content cd-hero__content--half-width">
    <p class="hide-sm" style="font-size:1.4em; font-weight:500; margin-top:-40px; margin-left:100%;">
        Coreform IGA<br />Don't mesh, just simulate</p>

    <p class="hide-lg" style="font-size:2em; font-weight:600; margin-top:-65px;">Coreform IGA</p>
    <p class="hide-lg" style="font-size:1.3em; font-weight:500;">Don't mesh, just simulate</p>
    <p style="margin-left:100%;"><a href="/products/coreform-iga/" class="cd-hero__btn">LEARN MORE</a>

    <div class=".cd-hero__slide cd-hero__content--half-width cd-hero__content--img hide-sm">
        <img class="hide-sm" src="/images/svg/IGA_TM.svg" alt="Coreform IGA" width="60%"
            style="margin-top:-3em; max-width:550px;"><br />
    </div>
</div> <!-- .cd-hero__content -->
</li>

<!-- TRELIS SLIDER -->
<li class="cd-hero__slide js-cd-slide">
<div class="cd-hero__content cd-hero__content--half-width">
    <p class="hide-sm" style="font-size:1.4em; font-weight:500; margin-top:-40px; margin-left:100%;">
        Coreform Cubit<br />Advanced meshing for challenging simulations</p>

    <p class="hide-lg" style="font-size:2em; font-weight:600; margin-top:-65px;">Coreform Cubit</p>
    <p class="hide-lg" style="font-size:1.3em; font-weight:500;">Advanced meshing for challenging simulations</p>
    <p style="margin-left:100%;"><a href="/products/coreform-cubit/" class="cd-hero__btn">LEARN MORE</a></p>


    <div class=".cd-hero__slide cd-hero__content--half-width cd-hero__content--img hide-sm">
        <img class="hide-sm" src="/images/svg/cubitlogoTM.svg" alt="Coreform Cubit" width="80%"
            style="margin-top:-3em; max-width:550px;">
    </div>
</div> <!-- .cd-hero__content -->
</li>

<!-- FLEX SLIDER -->
<!--<li class="cd-hero__slide js-cd-slide">
    <div class="cd-hero__content cd-hero__content--half-width">
    -->
<!--<h2 style="font-weight:600;">Coreform Flex (Beta)</h2>-->
<!--<p class="hide-sm" style="font-size:1.4em; font-weight:500; margin-top:-40px;">Coreform Flex (Beta) is a spline-based plugin for Coreform Trelis that generates analysis-suitable geometry from CAD.</p>

        <p class="hide-lg" style="font-size:2em; font-weight:600; margin-top:-65px;">Coreform Flex (Beta)</p>
        <p class="hide-lg" style="font-size:1.3em; font-weight:500;">A spline-based plugin for Coreform Trelis that generates analysis-suitable geometry from CAD.</p>
        <a href="/products/coreform-flex/" class="cd-hero__btn">LEARN MORE</a>
    
        <div class=".cd-hero__slide cd-hero__content--half-width cd-hero__content--img">
        <img src="/slider_assets/flex.svg" alt="Coreform flex" width="70%" style="margin-left:100%; margin-top:-3em; max-width:550px;"></div>
    </div> -->
<!-- .cd-hero__content -->
<!--</li>-->

</li>
</ul> <!-- .cd-hero__slider -->

<div class="cd-hero__nav js-cd-nav">
<nav>
<span class="cd-hero__marker cd-hero__marker--item-1 js-cd-marker"></span>
<ul>
    <li class="cd-selected"><a data-proofer-ignore href="#0">Home</a></li>
    <li><a data-proofer-ignore href="#0">IGA</a></li>
    <li><a data-proofer-ignore href="#0">Cubit</a></li>
    <!--<li><a href="#0">Flex</a></li>
    <li><a href="#0">Splines</a></li>
    <li><a href="#0">U-Splines</a></li>-->
</ul>
</nav>
</div> <!-- .cd-hero__nav -->
</div> <!-- .cd-hero -->
